.heading {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2.75rem;
}

.center {
  align-items: center;
  text-align: center;
}

.left {
  align-items: flex-start;
  text-align: left;
}

.heading h2 {
  font-size: clamp(1.7rem, 3vw, 2.3rem);
  font-weight: 700;
}
